{% extends 'layouts/base.html' %}

{% block content %}

<div class="row justify-content-center mb-5 bg-image">
    <div class="col-lg-6 text-light mr-auto ml-4 py-5 mt-5 font-weight-bold">
       
        <h4 style="font-size:xx-large">WELCOME TO VISUAL DISCOVERY</h1>
        <p style="font-size:3rem">When it comes to a great idea, you know it when you see it</p>

        <a href="#" class="btn btn-danger btn-lg mt-2 mt-lg-0">Join Pinterest</a>


    </div>

   
    

    
    

</div>

</div>

<div class= "container-fluid pt-3 px-4">
<h6> What's new at Pinterest</h6>
<div class="row justify-content-center">

<div class="col-lg-4 col-md-6 col-sm-12">
    <a href="#" class="card-link">
        <img class="img-fluid rounded" src="https://about.pinterest.com/sites/about/files/spark_02.jpg">

        <small class="font-weight-bold">The Pinterest Spark</small>
        <p> Watch them go from first date to new digs</p>

    </a>
</div>

<div class="col-lg-4 col-md-6 col-sm-12">
    <a href="#" class="card-link">
        <img class="img-fluid rounded" src="https://about.pinterest.com/sites/about/files/meet-lens-small.jpg">

        <small class="font-weight-bold">Meet Lens</small>
        <p>Point. Tap. Discover Ideas!</p>

    </a>
</div>

<div class="col-lg-4 col-md-6 col-sm-12">
    <a href="#" class="card-link">
        <img class="img-fluid rounded" src="https://about.pinterest.com/sites/about/files/web-buy-it-portal-tile2x.jpg">

        <small class="font-weight-bold">Shopping With Pinterest</small>
        <p>Another way to bring ideas to life. </p>

    </a>
</div>


</div>
</div>


{% include "layouts/footer-component.html" %}
    



{% endblock %}