{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
        
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 text-center">

            <h1>Get your next</h1>
            <h1 class="text-warning">weeknight dinner idea</h1>
        </div>
    </div>
    
    
</div>


<div class="container">

    <div class="row">
        {% for pin in pins%}

        <div class="col-lg-8 col-sm-12">

            <a href="{% url 'create.new_page' %}" target="template2.html">
                <img src="{{pin.image.url}}" width="200px" class="btn-rounded" style="object-fit:cover;" alt="{{pin.name}}">
            </a>
            
    
         

         <h5>My first pin</h5>

        </div>
    
        {% endfor %}
    </div>
</div>

{% endblock %}